body,
html {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    color: #333;
    background-color: #f3f7ff;
    overflow-x: hidden;
}


/* Navigation Bar */

.navbar {
    background-color: #f3f7ff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
    margin: 0px 64px;
}

.navbar .collapse {
    margin: 0px 64px;
}

.navbar .collapse .btn {
    display: none;
    background-color: #6D6FF1;
    color: white;
    font-weight: 500;
}

.navbar .collapse .btn:hover {
    background-color: #5c5cf1;
}

.navbar .navbar-nav .nav-link {
    font-weight: 600;
}

.navbar .nav-link.active {
    font-weight: 700;
}